* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 10px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.app {
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  animation: fadeIn 1s ease;
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 20px;
}

.input-area {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.1);
  color: white;
}

input::placeholder {
  color: rgba(255,255,255,0.6);
}

h3{
padding: 8px;

}

button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00c6ff;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255,255,255,0.1);
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  transition: 0.3s;
}

li:hover {
  transform: translateX(5px);
}

li.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.task-text {
  flex: 1;
  margin-left: 10px;
}

.checkbox {
  cursor: pointer;
  font-size: 18px;
}

.delete-btn {
  cursor: pointer;
  margin-left: 10px;
  opacity: 0.6;
}

.delete-btn:hover {
  opacity: 1;
  color: #ff4d4d;
  font-size: 12px;
}

.insight {
  margin-top: 20px;
  padding: 15px;
  border-radius: 12px;
  background: rgba(0,0,0,0.3);
  font-size: 14px;
}
.chat-container {
text-align: center;
padding: 8px;
}


.chat-input {
  width: 100%;
  height: 45px;
  font-size: 16px;
  padding: 0 12px;
  border-radius: 8px;
  
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.actions {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.actions span:hover {
  transform: scale(1.2);
}